@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap');

body{
    background-color: #8abb18;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


main
{
    padding-top: 6%;
}

.not
{
    padding-top: 75px;
}

.formularz
{
    padding-top: 3%;
}



header .logo
{
display: block;
float: left;
/*padding: 10px 20px;*/
font-size: 2em;
}




header
{
    background-color:#ABEB3D;
    box-shadow: 1px 1px 4px rgba(30, 94, 0, 0.1);
    position: fixed;
    margin-top:0;
    padding-top:0;
    margin-left:0;
    width: 100%;
    z-index: 3;
    }
    


    header ul
    {
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #ABEB3D;
    }
    
    header li a
    {
    display: block;
    align-items:center;
    justify-content:center;
    padding: 5px;
    text-decoration: none;
    /*border-right: 1px solid #f4f4f4;*/
    color:black;
    }
    
    header li a:hover,header.menu-btm:hover 
    {
    background-color:#A2DE3A;
    }
    
    header .menu
    {
    clear: both;
    max-height: 0;
    transition: max-height s easy-out;
    -webkit-transition: max-height 2s easy-out;
    -moz-transition: max-height 2s easy-out;
    }
    
    header .menu-icon
    {
    cursor: pointer;
    float: right;
    padding: 30px 20px;
    position: relative;
    }
    
    header .menu-icon .navicon
    {
    background-color: #000;
    display: block;
    height: 2px;
    width: 15px;
    position: relative;
    }
    
    header .menu-icon .navicon::before, header .menu-icon .navicon::after
    {
    content: "";
    background-color: #000;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s;
    }
    
    header .menu-icon .navicon::before
    {
    top: 5px;
    }
    
    header .menu-icon .navicon::after
    {
    top: -5px;
    }
    
    header .menu-btm
    {
    display: none;
    }
    
    header .menu-btm:checked~.menu
    {
    max-height: 175px;
    }
    
    header .menu-btm:checked~.menu-icon .navicon::before
    {
    transform: rotate(45deg) translateY(-7px);
    }
    
    header .menu-btm:checked~.menu-icon .navicon::after
    {
    transform: rotate(-45deg) translateY(7px);
    }
    
    header .menu-btm:checked~.menu-icon .navicon
    {
    background-color: transparent;
    }






    .wstep
    {
    text-align: justify;
    width:50%;
    margin-left: auto; 
    margin-right: auto;   
    }


    .Kosciol
    {
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
        border: 3px solid #000000;
        width: 50%;
        background-color: #A8E31E;
    }


    .Ktekst
    {
        text-align: justify
    }



    .Koscioljerz div
    {
    display: flex;
	justify-content:center;
    }

    .Koscioljerz
    {
     width:100%;
     justify-content:center;
     text-align: center;
    }

    .Kosciolzdj
    {
        width:100%;
        justify-content:center;
        margin-left:auto;
        margin-right:auto;
    }

    .grupazdjec
    {
        width:500px;
        height:300px;
        border-radius:15px;
    }

    .Kosciolzdj1
    {
    width: 30%;
    }

    .Kosciolzdj2
    {
    width: 30%;
    }

    .Kosciolzdj3
    {
    width: 30%;
    }








    .domki
    {
       text-align: center;
        margin-left: auto; 
        margin-right: auto;
        border: 3px solid #000000;
        width: 50%;
        background-color: #A8E31E;
    }
 
    .domkitekst
    {
    text-align: justify
    }
    



    .Teatr
    {
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
        border: 3px solid #000000;
        width: 50%;
        background-color: #A8E31E;
    }

    .teatrtekst
    {
    text-align: justify
    }

    .Wieża
    {
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
        border: 3px solid #000000;
        width: 50%;
        background-color: #A8E31E;
    }

    .wieżatekst
    {
    text-align: justify
    }
  

    .formularz
    {
        text-align: center;
        margin-left: auto; 
        margin-right: auto;
        border: 3px solid #000000;
        width: 25%;
    }







    
.stopka{     
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    
    display:none;
    height:100;
    width:100%;
    position: flex;
    bottom:0;
    right:0 3rem;
    background:linear-gradient(90deg, rgba(180, 247, 24, 1) 48%, rgb(152, 235, 19) 100%);
    display:flex;
    justify-content:center;
    
}
.stopka p
{
  
    margin: 0 1rem;
    text-decoration:none;
    padding:1rem .5rem;
}
